deepeval
ollama
langchain
langchain-community
wikipedia
langchain_ollama
langchain_chroma
ragas
sacrebleu
sentence-transformers
langchain-huggingface
huggingface
huggingface-hub
transformers
evaluate
tensorflow
tf-keras
scikit-learn